@charset "UTF8";

body {
    background-color: rgba(182, 174, 174, 0.742);
    margin: 0;
    padding: 0;
}

header > div {
    text-align: center;
    margin-top: 10px;
    background-color: rgba(0, 0, 0, 0.048);
    height: 100px;/*estava 150px-25vh-22*/
    /*width: max-content 22vw min-content 15vw;*/
    
    
}

nav {
    text-align: center;
    left: 50%;
    
    transform: translate(0%,-250%);
}

nav >a{
   
    background-color:rgb(119, 119, 127);
    font-family: 'Bebas Neue';
    color: black;
    padding: 5px;
    margin:  5px;/* tinha posto 10px, memso resultado --1%*/
    text-decoration: none;
    font-weight: arial;
    box-shadow: 0px 2px 2px black ;
    border-radius: 5px;
    
}

section{
    text-align: center;                                 
    min-width: 300px;
    max-width: 680px;
    margin: auto;

    background-color: gray;
}

footer{
    text-align: center;      
    text-decoration: none;   
    min-width: 300px;
    max-width: 680px;
    margin: auto;
    padding: 5px;
    
    background-color: rgba(0, 0, 0, 0.338);
    font-size: large;
}

footer >ul{
    text-align: center;
    list-style: none;
    text-align: center;
}

footer >p >a{
    text-decoration: none;
}
footer >ul li >a{
    text-align: center;
    text-decoration: none;
}

footer >p{ 
    margin: 0px;
    padding: 5px;
    background-color: black;
    text-align: center;
    color: aliceblue;
    
}